body{
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
 }
 
 p,
 h1, 
 h2, 
 h3, 
 h4, 
 h5, 
 h6{
     margin: 0;
 }
 
 ul{
    margin: 0;
    padding-left: 0;
 
 }
 
 address{
    font-style: normal;
 
 }
 button{
    cursor:pointer;
 }
 
a{
    text-decoration: none;
    /* color: black; */
}
.list{
    list-style: none;
    
}

.link{
    text-decoration: none; 
}

.container{
    max-width: 1280px ;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid red;

}

/* ------------------foter--------------- */

.header{
   
    background-color: #FEFEFE;


}
.header-container{
    height: 72px;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-wrapper{
    display: flex;
    align-items: center;
}

.header-list{
    display: flex;
    gap: 28px;
    margin-right: 30px;

    
}
.header-link{
    font-size: 14px;
    line-height: 1.14;
    color: #2C2C2C;
}
.header-link:hover,
.header-link:focus{
    color:rgba(187, 243, 48, 1);
    text-decoration:underline;
}


.button{
    min-width: 98px;
    height: 32px;
   
    background: #BBF330;
    border-radius: 30px;

    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
/* identical to box height, or 20px */

    text-align: center;
}

.button:hover,
.button:focus{
    background: #FFE450;
}

/* ------------section food---------------- */

.food-container{
    display: flex;
    align-items: center;
}


.food-wrapper{
    /* padding-top: 159px; */
    width: 511px;
    
}

.food-title{
    font-size: 48px;
    line-height: 1.2;
    color: #2C2C2C;
    margin-bottom: 28px;

}
.food-description{
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.5;
    color: #2C2C2C;
}


/* ---------------offers---------- */
.offers-section{
background-color: #FFE450;
}

.offers-container {
    display: flex;
    gap: 90px;
    align-items: center;
}

.offers-title{
    width: 526px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    color: #2C2C2C;

    margin-bottom: 20px;
}

.offers-text{
    width: 500px;
    font-size: 16px;
    line-height: 1.5;
    color: #2C2C2C;

    margin-bottom: 20px;
}

.offer-list{
    display: flex;
    gap: 67px;
}

.offer-list li{
    width: 253px;
}

.offer-list-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    color: #2C2C2C;

    margin-bottom: 16px;
}

.offer-list-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #2C2C2C;

    margin-bottom: 32px;
}

.offer-button{
    min-width: 140px;
    height: 40px;
    background: #FFFFFF;
/* Dark green */

border: 2px solid #7EB101;
border-radius: 30px;
}

.offer-button:hover,
.offer-button:focus{
    background: #BBF330;
    border-radius: 30px;
}

/** ------------sectio favorite-------- */

.favorites-section{
    background-color: #F5F5F5;
    padding: 100px 0;
}

.favorites-title{
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    text-align: center;
    color: #2C2C2C;
    margin-bottom: 20px;
}

.favorites-text{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: #2C2C2C;
    margin-bottom: 40px;
}

.favorites-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 112px;
}

/* .favorite-items{
    width: calc((100% - 112px)/ 3);

} */